*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
font-size: 62.5%; /*62.5/100 * 16px = 10px*/
--font-size--small: 1.4rem; /*14px*/
--font-size--default: 1.6rem; /*16px*/
--font-size--large: 2.4rem; /*24px*/
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-size-small);
    height: 100vh;
    width: 100vw;
}
header {
    padding: 2em 4em 8em;
    text-align: center;
}
header figure img {
    max-width: calc(8*var(--font-size--default));
    min-width: calc(3*var(--font-size--default));
}
figure {
    text-align: left;
}
main {
    margin: 0 auto;
    width: 80%;
}
main section figure {
    display: inline-block;
    margin-bottom: 2em;
    width: 45%;
}
main section:nth-of-type(2) {
    margin-left: 8%;
}
main section figure img {
    height: 40vh;
    width: 100%;
}
footer {
    color: rgb(136, 136, 136);
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}